

@media (max-width: 1599px) {
    .main-menu > ul > li > a {
        font-size: 16px;
    }
    .main-menu > ul > li {
        margin-right: 35px;
    }
    .header-logo {
        width: 190px;
    }
    .hr-social li a {
        font-size: 14px;
        height: 24px;
        width: 24px;
    }
    .hr-social li {
        margin-right: 10px;
    }
    .header-in {
        padding: 18px 0;
    }


    .hero-content .h1 {
        font-size: 45px;
        margin: 0 0 55px;
    }
    .hero-content p {
        margin-bottom: 19px;
        font-size: 16px;
    }
    .hero-section {
        padding: 46px 0 26px;
    }


    .h1 {
        font-size: 45px;
        margin: 0 0 55px;
    }
    .h4 {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .kb-section {
        padding: 50px 0;
    }


    .mmm-sec-content h3 {
        font-size: 25px;
        margin: 0 0 18px;
    }
    .mmm-sec-content h2 {
        font-size: 33px;
    }
    .mmm-sec-image {
        height: 300px;
        border-width: 4px;
    }
    .mmm-section {
        padding: 35px 0;
    }


    .h2 {
        font-size: 26px;
        margin: 0 0 42px;
    }
    .service-d-section {
        padding: 80px 0 50px;
    }
    .sec-cont-blk-inner {
        max-width: 600px;
    }
    .service-d-sec-title {
        margin: 0 0 40px;
    }
    .hu-s-t1 h3 {
        font-size: 16px;
    }
    .hu-s-t1 {
        padding: 10px 0;
        border-top-width: 8px;
    }
    .hu-d-row .content-column .t-title h4 {
        font-size: 12px;
    }
    .hu-d-row .content-column .t-title {
        width: 180px;
        margin: 0 auto 23px;
    }
    .lk-ul li::after {
        height: 20px;
        width: 20px;
        top: 3px;
    }
    .lk-ul li {
        margin-bottom: 15px;
        font-size: 11px;
        letter-spacing: 0.5px;
        padding-left: 31px;
    }
    .hu-d-row .image-column {
        margin-top: -60px;
        margin-bottom: -50px;
    }
    .service-d-bt-content {
        margin: 40px 0 0;
    }
    .price-ellipse-x {
        margin: 30px 0 25px;
        width: 250px;
        height: 250px;
    }
    .price-ellipse-x .h2-c {
        font-size: 70px;
        padding: 11px 0;
    }
    .price-ellipse-x .h2-c .sm {
        font-size: 38px;
        transform: translate(0px,-22px);
    }
    .price-ellipse-x .h4-c {
        font-size: 23px;
    }


    .fw-section {
        padding: 65px 0 0px;
    }
    .fw-nv-item .arr-d {
        width: 25px;
    }
    .fw-nv-item h3 {
        font-size: 15px;
    }
    .fw-nv-item .tp-txt {
        font-size: 16px;
        margin: -25px 0 4px;
    }


    .footer-top-inner {
        padding: 35px 0;
    }
    .footer-bottom-inner {
        padding: 10px 0 30px;
    }
    .footer-logo {
        width: 170px;
        margin: 0 0 32px;
    }
    .f-menu li {
        margin-bottom: 17px;
    }
    .f-menu li a {
        font-size: 14px;
    }
    .f-menu li a .icon {
        width: 16px;
        margin: 0 9px 0 0;
    }
    .footer-cta-column h3 {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .fo-cta .input {
        font-size: 16px;
    }
    .fo-cta .submit-button {
        padding: 3px 12px;
        font-size: 15px;
    }

    .fb-menu li a {
        letter-spacing: 0.3px;
        font-size: 12px;
    }



    .about-hero-section {
        padding: 150px 0 74px;
    }
    .ttl-clm {
        padding: 3px 0 0;
        font-size: 70px;
    }
    .ttl-clm .th4 {
        font-size: 20px;
        left: 39px;
    }
    .about-hero-content .h1 {
        margin: 0 0 50px -24px;
    }
    .about-hero-content p {
        font-size: 15px;
        margin-bottom: 12px;
    }
    .about-hero-text-inner {
        padding: 0 29% 0 0;
    }
    .about-hero-content .image {
        width: 320px;
        top: -119px;
        right: 3px;
    }


    .founder-content-inner .text-part h3 {
        font-size: 26px;
        margin: 0 0 30px;
    }
    .founder-content-inner .text-part .h4 {
        font-size: 15.2px;
        margin-bottom: 10px;
    }
    .founder-content-inner .ar-img-part {
        width: 110px;
        margin-left: 50px;
    }
    .founder-content {
        padding: 0 100px 0 30px;
    }
    .founder-section-inner {
        padding: 0 100px 0 230px;
        min-height: 330px;
    }
    .founder-image {
        width: 256px;
    }


    .project-net-zero {
        padding: 0px 0 0;
    }

    .section-wsg {
        padding: 70px 0 90px;
    }
    .wsg-sec-title {
        margin: 0 0 70px;
    }
    .lk-ul.lk-ul--b li::after {
        height: 29px;
        width: 29px;
    }
    .lk-ul.lk-ul--b li {
        font-size: 15px;
        padding-left: 47px;
    }



    .cx-li .icon {
        --mar: 30px;
        width: 30px;
    }
    .cx-li {
        font-size: 11px;
        margin: 0 0 45px;
    }
    .com-x-t-column {
        margin: 60px 0 0;
    }
    .com-x-i-column {
        margin: -40px 0 0;
    }


    .contact-cont-box .h-ttl h3 {
        font-size: 20px;
        letter-spacing: 1.2px;
    }
    .contact-menu li a {
        font-size: 20px;
        letter-spacing: 1.5px;
        display: flex;
        line-height: 1.5;
    }
    .contact-menu li a .icon {
        width: 20px;
        margin: 6px 18px 0 0;
    }
    .contact-menu li {
        margin-bottom: 13px;
    }
    .contact-cont-box .h-ttl {
        margin: 0 0 35px;
    }
    .contact-cont-box {
        padding: 45px 60px 53px;
        width: 460px;
        max-width: 100%;
    }
    .contact-us-title {
        margin: 0 0 40px;
    }
    .contact-us-section {
        padding: 90px 0 120px;
    }


    .gs-hero-content .texts p {
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 18px;
    }
    .gs-hero {
        padding: 80px 0 0;
    }


    .lgs-section {
        padding: 70px 0 90px;
    }
    .lgs-title h3 {
        font-size: 27px;
        margin: 0 0 20px;
    }
    .lgs-as-bx h4 {
        font-size: 18px;
        margin: 0 0 25px;
    }
    .lgs-as-bx {
        padding: 27px 38px;
    }
    .lgs-bt-cnt h4 {
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.3px;
        word-spacing: 2px;
    }
    .lgs-bt-cnt .time {
        font-size: 16px;
        margin: 0 0 25px;
    }
    .default-button {
        padding: 6px 29px 8px;
        font-size: 20px;
    }
    .lgs-bt-cnt {
        padding: 16px 0 0;
    }

}


@media (max-width: 1199px) {



    .hero-section-inner {
        padding: 0;
    }
    .hero-content .h1 {
        font-size: 43px;
        margin: 0 0 45px;
    }


    .kb-section-inner {
        padding: 0;
    }
    .h1 {
        font-size: 40px;
        margin: 0 0 46px;
    }

    .mmm-section-inner {
        padding: 0;
    }
    

    .service-d-section-inner {
        padding: 0;
    }

    .footer-section-inner {
        padding: 20px;
    }



    .about-hero-section-inner {
        padding: 0 0%;
    }
    .ttl-clm {
        padding: 3px 0 0;
        font-size: 55px;
    }
    .ttl-clm .th4 {
        font-size: 16px;
        left: 29px;
    }
    .about-hero-content .h1 {
        margin: 0 0 35px -18px;
    }
    .about-hero-section {
        padding: 90px 0 50px;
    }
    .about-hero-content .image {
        width: 240px;
        top: -34px;
        right: 3px;
    }
    .founder-section-inner {
        padding: 0 0px 0 220px;
        min-height: 270px;
    }

    .section-wsg-inner {
        padding: 0;
    }

    .com-x-section-inner {
        padding: 0;
    }

    .contact-us-section-inner {
        padding: 0;
    }


    .gs-hero-content {
        padding-top: 0px;
    }
    .gs-hero-content .texts .cheers {
        margin: 10px 0 0 30px;
        width: 120px;
    }


    .lgs-section-inner {
        padding: 0;
    }
}


@media (max-width: 991px) {
    .hero-section-inner {
        flex-wrap: wrap;
    }
    .hero-image {
        width: 100%;
        order: -1;
        padding: 0 10%;
        margin: 0 0 20px;
    }
    .hero-content {
        width: 100%;
        flex-shrink: 0;
        text-align: justify;
    }
    .hero-section {
        padding: 46px 0 50px;
    }


    .kb-section-inner {
        flex-wrap: wrap;
    }
    .kb-sec-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hero-bg-shape {
        width: 470px;
        opacity: 0.5;
        display: none;
    }


    .mmm-section-inner {
        flex-wrap: wrap;
    }
    .mmm-sec-content {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 22px;
    }


    .fw-nv-row {
        flex-wrap: wrap;
    }
    .fw-nv-item {
        width: 100%;
        margin: 0 0 20px;
    }
    .fw-nv-item .text {
        min-height: initial;
    }
    .fw-nv-item .tp-txt {
        margin: 0px 0 4px;
    }


    .footer-top-inner {
        flex-wrap: wrap;
    }
    .footer-logo-column {
        width: 100%;
        margin: 0 0 35px;
    }
    .footer-cta-column {
        width: 100%;
    }
    .fb-menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .fb-menu li {
        margin: 0 0px 7px 0;
    }


    .about-hero-content .image {
        width: 240px;
        top: 46px;
        right: -60px;
    }


    .founder-content-inner .ar-img-part {
        display: none;
    }
    .founder-content-inner .text-part h3 {
        font-size: 21px;
        margin: 0 0 20px;
    }

    .lk-ul.lk-ul--b li {
        font-size: 14px;
        padding-left: 45px;
    }
    .wsg-sec-title {
        margin: 0 0 50px;
    }
    .section-wsg {
        padding: 50px 0 80px;
    }


    .gs-hero-inner {
        flex-wrap: wrap;
    }
    .gs-hero-content {
        padding: 55px 0;
        width: 100%;
    }
    .gs-hero-image {
        width: 100%;
        order: -1;
        max-width: 500px;
        margin: 0 auto;
    }


    .lgs-section-inner {
        flex-wrap: wrap;
    }
    .lgs-img-side {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 40px;
    }
    .lgs-content-side {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .header-logo {
        width: 140px;
    }
    .header-in {
        padding: 10px 0;
    }

    .hero-content .h1 {
        font-size: 32px;
        margin: 0 0 30px;
    }


    .kb-sec-content .h1 {
        line-height: 1.2;
    }
    .h1 {
        font-size: 32px;
        margin: 0 0 30px;
        line-height: 1.4;
    }
    .mmm-sec-content h3 {
        font-size: 17px;
        margin: 0 0 14px;
    }
    .mmm-sec-content h2 {
        font-size: 22px;
    }
    .mmm-sec-image {
        height: 220px;
        border-width: 4px;
    }
    .h2 {
        font-size: 20px;
        margin: 0 0 32px;
        line-height: 1.3;
    }


    .hu-d-row {
        flex-wrap: wrap;
    }
    .hu-d-row .content-column {
        padding: 18px;
        flex-shrink: 0;
        width: 100%;
        margin-top: 10px;
    }
    .hu-d-row .image-column {
        margin-top: -20px;
        margin-bottom: -19%;
        order: -1;
    }


    .about-hero-content .h1 .ttl-clm {
        display: block;
    }
    .about-hero-content .h1 {
        margin: 0 0 20px 0px;
    }
    .ttl-clm {
        font-size: 40px;
    }
    .ttl-clm .th4 {
        font-size: 12px;
        left: 19px;
    }
    .about-hero-section {
        padding: 40px 0 30px;
    }
    .about-hero-content .image {
        width: 160px;
        top: 176px;
        right: -80px;
    }
    .about-hero-content p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .about-hero-text-inner {
        padding: 0 70px 0 0;
    }

    .founder-image {
        margin: 30px 0 20px;
        width: 100%;
        position: static;
    }
    .founder-section-inner {
        padding: 0 0px 0 0px;
        min-height: 270px;
    }
    .founder-content {
        padding: 20px 0 30px;
    }


    .wsg-cont-wrapper {
        --inner-space: 19px;
        --item: 1;
    }

    .com-x-content-row {
        flex-wrap: wrap;
    }
    .com-x-t-column {
        margin: 80px 0 0;
        width: 100%;
        flex-grow: 1;
    }
    .com-x-i-column {
        flex-shrink: 0;
        width: 100%;
        margin: -55px 0 30px;
        order: -1;
    }
    .com-x-t-column {
        margin: 0px 0 0;
        width: 100%;
        flex-grow: 1;
    }

    .cx-li {
        justify-content: flex-start;
        text-align: left;
    }
    .cx-li .icon {
        order: -1;
        margin-left: 0;
        margin-right: var(--mar);
    }


    .contact-us-section {
        padding: 60px 0 60px;
    }
    .contact-us-title h1 {
        font-size: 24px;
        text-align: center;
    }
    .contact-us-title {
        margin: 0 0 25px;
    }
    .contact-cont-box .h-ttl h3 {
        font-size: 17px;
    }
    .contact-menu li a {
        font-size: 16px;
    }
    .contact-menu li a .icon {
        width: 17px;
        margin: 5px 11px 0 0;
    }
    .contact-cont-box {
        padding: 30px 25px 35px;
        width: 100%;
    }


    .gs-hero-image {
        margin: 0 10%;
    }
    .gs-hero {
        padding: 50px 0 0;
    }
    .gs-hero-content {
        padding: 45px 0;
    }
    .lgs-title h3 {
        font-size: 17px;
        margin: 0 0 15px;
    }
    .lgs-as-bx h4 {
        font-size: 15px;
        margin: 0 0 15px;
    }
    .lgs-as-bx {
        padding: 20px 20px;
    }
    .lgs-bt-cnt h4 {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .lgs-bt-cnt .time {
        font-size: 13px;
        margin: 0 0 19px;
    }
    .default-button {
        padding: 4px 21px 6px;
        font-size: 18px;
    }
    .lgs-section {
        padding: 50px 0 60px;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .hero-content .h1 {
        font-size: 27px;
        margin: 0 0 25px;
    }
    .h1 {
        font-size: 26px;
        margin: 0px 0 26px;
        line-height: 1.4;
    }
    .h2 {
        font-size: 18px;
        margin: 0 0 27px;
    }
    .hu-s-t1 h3 {
        font-size: 12px;
    }

    .contact-cont-box {
        padding: 30px 15px 35px;
    }


    .lgs-title h3 {
        font-size: 15px;
    }
    .lgs-bt-cnt h4 {
        font-size: 15px;
    }
}
